.page-price {
  margin-top: 20px 0;

  h1, h2 {
    text-align: center;
  }

  .table-wrapper {
    overflow-x: scroll;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    padding: 10px;
    border: 1px solid $grey-a;
    text-align: center;
  }

  td:first-child {
    text-align: left;
  }
}
