$bp-lg: 1160px;
$bp-md: 860px;
$bp-sm: 660px;
$bp-xs: 460px;

$black: #000;
$grey-2: #222;
$grey-3: #333;
$grey-6: #666;
$grey-a: #aaa;
$grey-c: #ccc;
$grey-e: #eee;
$white: #fff;

$orange: #ffad2a;
$orange_darker: #ff8a00;
